.title{
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;

    padding: 1rem;
}
img{
    height: 8rem;
    object-fit: cover;
}
@media (min-width: 751px) {
    .card{
        width: 100%;
        height: 100%;

    }
    .title{
        color: red;
    }
}
@media (max-width: 750px) {
    .card{
        width: 100%;
        height: 100%;

    }
    .title{
        color: rgb(0, 128, 17);
    }
}

