#navegador {
  background-color: #d9f3dc
}

#container {
  background-color: #d6e7d1;
}
* {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

}

/* ----- Estilos generales del footer ----- */
.footer {
  background-color: #222;
  color: #f1f1f1;
  padding: 40px 0 10px;
  text-align: center;
  margin-top: 50px;
}

/* ----- Contenedor principal ----- */
.footer-container {
  display: flex;
  flex-wrap: wrap;/*Los elementos bajan a la siguente linea si no entran*/
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
}

/* ----- Secciones del footer ----- */
.footer-section {
  min-width: 200px;
}

.footer-section h3,
.footer-section h4 {
  color: #ffcc00;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: #f1f1f1;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #ffcc00;
}

.social-icons a {
  color: #f1f1f1;
  font-size: 1.5rem;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ffcc00;
}

.footer-bottom {
  border-top: 1px solid #444;
  padding-top: 10px;
  font-size: 14px;
  margin-top: 20px;
}